body {
    background-color: #26bdf0;
}

#brand {
    font-size: large;
    font-weight: bolder;
}

.list-group {
    height: 300px;
    overflow: auto;
}

footer {
    margin-top: 20px;
    background-color: #f7ecc0;
}

.navbar-default {
    background-color: #f7ecc0;
}

#button {
    display: block;
    margin: 0 auto;
}

.überschrift {
    text-align: center;
}

nav div a {
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 768px) {
    .navbar .navbar-right {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

}