body {
    background-color: #FFFFFF;
}

#brand {
    font-size: 20px;
    font-weight: bolder;
    color: #FF3030;
    font-family: 'Roboto', sans-serif;
}

.btn-danger {
    background-color: #FF3030;
}

.list-group {
    height: 300px;
    overflow: auto;
}

#formular {
    margin-top: 20px;
}

footer {
    background-color: #333333;
    color: #FF3030;
    font-family: 'Roboto', sans-serif;
}

.navbar-default {
    background-color: #333333;
}

#button {
    display: block;
    margin: 0 auto;
}

.überschrift {
    text-align: center;
    color: #FF3030;
    font-family: 'Patua One', cursive;
    font-size: large;
}

nav div a {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-device-height: 700px){
    #full {
        height: 100%;
    }
}

#brand-glyphicon {
    font-size: 20px;
}