body {
    background-color: #26bdf0;
}

#brand {
    font-size: large;
    font-weight: bolder;
}

.list-group {
    border: 2px solid black;
}

.list-group li:nth-child(odd) {
    background-color: #ededed;
}

.list-group li:nth-child(even) {
    background-color: #dbdbdb;
}

.formular {
    margin-top: 20px;
}

.formular-button {

}

.formular-eingabe {
    margin-bottom: 15px;
}

footer {
    position: relative;
    top: 30px;
    background-color: #26bdf0;
}

.breadcrumb {
    background-color: #f7ecc0;
}

.navbar-default {
    background-color: #f7ecc0;
}
