#brand {
    font-size: 20px;
    font-weight: bolder;
    color: #FF3030;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #333333;
    color: #FF3030;
    font-family: 'Roboto', sans-serif;
}

.navbar-default {
    background-color: #333333;
}

.intro-header {
    background: url(../img/jumbo.jpg) no-repeat center center;
}

#login {
    text-align: center;
}

#submit {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

#überschrift {
    text-align: center;
    color: #CD0000;
    font-family: 'Patua One', cursive;
    font-size: large;
}

nav div a {
    margin-left: 10px;
    margin-right: 10px;
}

.intro-message {
    padding-top: 50px;
    padding-bottom: 50px;
}

