#brand {
    font-size: 20px;
    font-weight: bolder;
    color: #F63D3D;
    font-family: 'Pacifico', cursive;
}

footer {
    background-color: #333333;
    color: #F63D3D;
    font-family: 'Pacifico', cursive;
}

.navbar-default {
    background-color: #333333;
}

.intro-header {
    background: url(../img/jumbo.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

#login {
    text-align: center;
}

.section-heading {
    color: #F63D3D;
    font-family: 'Montserrat', sans-serif;
}

nav div a {
    margin-left: 10px;
    margin-right: 10px;
}

.intro-message {
    padding-top: 50px;
    padding-bottom: 50px;
}

#button {
    margin-top: 15px;
}

@media screen and (min-device-height: 700px){
    #full {
        height: 100%;
    }
}

#brand-glyphicon {
    font-size: 20px;
}

div.intro-header h1, h3 {
    font-family: 'Pacifico', cursive;
}

div.intro-header h2, p {
    font-family: 'Montserrat', sans-serif;
}

div img {
    max-width: 60%;
    max-height: 60%;
}