body {
    background-color: #FFFFFF;
    position: relative
}

#brand {
    font-size: 20px;
    font-weight: bolder;
    color: #FF3030;
    font-family: 'Roboto', sans-serif;
}

#pills {
    height: 300px;
    overflow: auto;
    margin-top: 75px;
    margin-bottom: 68px;
}

footer {
    background-color: #333333;
    color: #FF3030;
    font-family: 'Roboto', sans-serif;
}

.navbar-default {
    background-color: #333333;
}

.überschrift {
    text-align: center;
    color: #CD0000;
    font-family: 'Patua One', cursive;
    font-size: large;
    position: relative;
    top: 60px;
}

nav div a {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #00B2EE;
}

@media screen and (min-device-height: 700px){
    #full {
        height: 100%;
    }
}

.glyphicon {
    font-size: 12px;
}

#brand-glyphicon {
    font-size: 20px;
}

nav div a:hover {
    color: #FFFAF0;
}