body {
    background-color: #26bdf0;
}

#brand {
    font-size: large;
    font-weight: bolder;
}

.list-group {
    height: 300px;
    overflow: auto;
    margin-top: 75px;
    margin-bottom: 68px;
}

footer {
    margin-top: 20px;
    background-color: #f7ecc0;
}

.navbar-default {
    background-color: #f7ecc0;
}

.überschrift {
    text-align: center;
    position: relative;
    top: 60px;
}

nav div a {
    margin-left: 10px;
    margin-right: 10px;
}

