body {
    background-color: #FFFAF0;
    position: relative
}

#brand {
    font-size: 20px;
    font-weight: bolder;
    color: #FF3030;
    font-family: 'Roboto', sans-serif;
}

.list-group {
    height: 300px;
    overflow: auto;
}

.list-group li:nth-child(odd) {
    background-color: #ededed;
}

.list-group li:nth-child(even) {
    background-color: #dbdbdb;
}

footer {
    background-color: #333333;
    color: #FF3030;
    font-family: 'Roboto', sans-serif;
}

.navbar-default {
    background-color: #333333;
    margin-bottom: 105px;
}

#button {
    display: block;
    margin: 0 auto;
}

.überschrift {
    text-align: center;
    color: #CD0000;
    font-family: 'Patua One', cursive;
    font-size: large;
}

nav div a {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #00B2EE;
}

#frage {
    margin-bottom: 30px;
}

.antwort {
    margin-bottom: 5px;
}

@media screen and (min-device-height: 700px){
    #full {
        height: 100%;
    }
}

.glyphicon {
    font-size: 12px;
}

#brand-glyphicon {
    font-size: 20px;
}

nav div a:hover {
    color: #FFFAF0;
}