body {
    background-color: #26bdf0;
}

#brand {
    font-size: large;
    font-weight: bolder;
}

.list-group {
    height: 300px;
    overflow: auto;
}

.list-group li:nth-child(odd) {
    background-color: #ededed;
}

.list-group li:nth-child(even) {
    background-color: #dbdbdb;
}

footer {
    margin-top: 127px;
    background-color: #f7ecc0;
}

.navbar-default {
    background-color: #f7ecc0;
    margin-bottom: 127px;
}

#button {
    display: block;
    margin: 0 auto;
}

.überschrift {
    text-align: center;
}

nav div a {
    margin-left: 10px;
    margin-right: 10px;
}